@import "../../responsive.scss";
nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    // Apply hover and increase the text size transition to all the buttons
    a{
        transition: all 0.4s ease;

        @include sm{
            display: none;
        }

        &:hover{
            scale: 1.05;
        }
    }

    // Left part (Which inlcudes Logo, Home, About, Contacts, Agents buttons)
    .left{
        // Ratio 3
        flex: 3; 
        display: flex;
        align-items: center;
        gap: 50px;

        // Logo
        .logo{
            font-weight: bold;
            font-size: 20px;
            display: flex;
            align-items: center;
            gap: 10px;
            
            // Shrinking image height to fit 
            img{
                width: 38px;
            }
            
            // Skyluke Text beside the logo
            span{
                // When at medium, hide it
                @include md{
                    display: none;
                }

                // When at small, display it again
                @include sm{
                    display: initial;
                }
            }
        }
    }

    // Right part (which includes Sign in and Sign up buttons)
    .right{
        //Ratio 2
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: #fcf5f3;
        height: 100%; 

        @include md{
            background-color: transparent;
        }

        // Specific to Sign in and Sign up button
        a{
            padding: 12px 24px;
            margin: 20px;
        }

        // Sign up button
        .register {
            background-color: #fece51;
        }

        .menuIcon{
            display: none;
            // To keep displaying the icon even if the right sidebar opens
            z-index: 999;

            img{
                width: 36px;
                height: 36px;
                cursor: pointer;
            }

            @include sm{
                display: initial;
            }
        }

        .menu{
            position: absolute;
            top: 0;
            right: -50%;
            background-color: black;
            color: white;
            height: 100vh;
            width: 50%;
            transition: all 1s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font: 24px;

            &.active {
                right: 0;
            }

            @include sm{
                a{
                    display: initial;
                }
            }
        }
    }
}